# no secrets
*secret*
*.pem

# no terraform state files
*.tfstate
*.tfstate.backup
*.terraform/
*.terraform.lock.hcl
*plan*

# no virtual environments
venv/*

# no Python cache files
__pycache__/
*.pyc
*.pyo

# no applications
vulnapp-node/*
vulnapp-flask/*
